<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <div class="row">
        <script>
            $(document).ready(function () {
                $('.collapsible').collapsible();
            });
        </script>
        <ul id="slide-out" class="side-nav fixed blue-grey" >
            <li>
                <div class="userView">
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <ul class="collapsible popout" data-collapsible="accordion" >
                <li><h:link outcome="/index"><i class="material-icons">home</i>Inicio</h:link></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">web</i>Vehiculo</div>
                    <div class="collapsible-body"><h:link outcome="/vehiculos/List" value="Consultar"/></div>
                    <div class="collapsible-body"><h:link outcome="/vehiculos/Create" value="Crear"/></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">queue</i>Cupos</div>
                    <div class="collapsible-body"><h:link outcome="/cupo/List" value="Consultar"/></div>
                    <div class="collapsible-body"><h:link outcome="/cupo/Create" value="Crear"/></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">call_split</i>Parquer</div>
                    <div class="collapsible-body"><h:link outcome="/parquedo/List" value="Consultar"/></div>
                    <div class="collapsible-body"><h:link outcome="/parquedo/Create" value="Crear"/></div>
                </li>
            </ul>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    </div>
</html>

