<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.EditVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <div class="row">
                <h:form class="col s12">
                    <script>
                        $(document).ready(function () {
                            $('select').material_select();
                        });
                    </script>
                    <div class="row">
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.EditVehiculosLabel_id}" for="id" />
                            <h:inputText id="id" value="#{vehiculosController.selected.id}" title="#{parametros.EditVehiculosTitle_id}" required="true" requiredMessage="#{parametros.EditVehiculosRequiredMessage_id}"/>
                        </div>
                        <div class="input-field col s4">

                            <h:selectOneMenu id="tipo" value="#{vehiculosController.selected.tipo}">
                                <f:selectItem  itemLabel="Carro" itemValue="V"/>
                                <f:selectItem  itemLabel="Moto" itemValue="M"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="#{parametros.EditVehiculosLabel_tipo}" for="tipo" />
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.EditVehiculosLabel_placa}" for="placa" />
                            <h:inputText id="placa" value="#{vehiculosController.selected.placa}" title="#{parametros.EditVehiculosTitle_placa}" />
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="col s6">
                            <h:commandLink  class="btn waves-effect waves-light" action="#{vehiculosController.update}" value="#{parametros.EditVehiculosSaveLink}"/>
                        </div>
                        <div class="col s6">
                            <h:link class="btn waves-effect  lime darken-1"  outcome="/index" value="#{parametros.EditVehiculosIndexLink}" />
                        </div>
                        <div class="col s6">
                            <h:link class="btn waves-effect green darken-1" outcome="View" value="#{parametros.EditVehiculosViewLink}"/>
                        </div>
                        <div class="col s6">
                            <h:commandLink class="btn waves-effect" action="#{vehiculosController.prepareList}" value="#{parametros.EditVehiculosShowAllLink}" immediate="true"/>
                        </div>
                        
                    </div>

                </h:form>
            </div>
        </ui:define>
    </ui:composition>

</html>
