<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ListVehiculosTitle}"></h:outputText>
        </ui:define>
         <script>
            $(document).ready(function () {
                $('.scrollspy').scrollSpy();
            });
        </script>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form" >
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametros.ListVehiculosEmpty}" rendered="#{vehiculosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{vehiculosController.items.rowCount > 0}">
                    <h:commandLink action="#{vehiculosController.previous}" rendered="#{vehiculosController.pagination.hasPreviousPage}"><i class="material-icons">keyboard_arrow_left</i></h:commandLink>
                    <h:outputText value="#{vehiculosController.pagination.pageFirstItem + 1}..#{vehiculosController.pagination.pageLastItem + 1}/#{vehiculosController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{vehiculosController.next}" rendered="#{vehiculosController.pagination.hasNextPage}"><i class="material-icons">keyboard_arrow_right</i></h:commandLink>
                    <h:dataTable class="striped" value="#{vehiculosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <div class="col s9">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosTitle_tipo}"/>
                                </f:facet>
                                <h:outputText value="#{item.tipo}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosTitle_placa}"/>
                                </f:facet>
                                <h:outputText value="#{item.placa}"/>
                            </h:column>
                        </div>
                        <div class="col s3">                             
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosViewLink}"/>
                                </f:facet>
                                <h:commandLink action="#{vehiculosController.prepareView}"><i class="material-icons">forward</i></h:commandLink> 
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosEditLink}"/>
                                </f:facet>
                                <h:commandLink action="#{vehiculosController.prepareEdit}"><i class="material-icons">create</i></h:commandLink>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametros.ListVehiculosDestroyLink}"/>
                                </f:facet>
                                <h:commandLink action="#{vehiculosController.destroy}"><i class="material-icons">delete_sweep</i></h:commandLink>
                            </h:column>
                        </div>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{vehiculosController.prepareCreate}" value="#{parametros.ListVehiculosCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.ListVehiculosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
