<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ViewVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <div class="row">
                <h:form class="col s12">
                    <script>
                        $(document).ready(function () {
                            $('select').material_select();
                        });
                    </script>
                    <div class="row">
                        <div class="input-field col s4">
                            <h:outputText value="#{parametros.ViewVehiculosLabel_id}"/>
                            <h:outputText value="#{vehiculosController.selected.id}" title="#{parametros.ViewVehiculosTitle_id}"/>
                        </div>
                        <div class="input-field col s4">
                            <h:outputText value="#{parametros.ViewVehiculosLabel_tipo}"/>
                            <h:outputText value="#{vehiculosController.selected.tipo}" title="#{parametros.ViewVehiculosTitle_tipo}"/>
                        
                        </div>
                        <div class="input-field col s4">
                            <h:outputText value="#{parametros.ViewVehiculosLabel_placa}"/>
                            <h:outputText value="#{vehiculosController.selected.placa}" title="#{parametros.ViewVehiculosTitle_placa}"/>
                        </div>
                        <div class="input-field col s12"  >              
                            <div class="col s6">
                                <h:commandLink class="btn waves-effect waves-light" action="#{vehiculosController.destroyAndView}" value="#{parametros.ViewVehiculosDestroyLink}"/>
                            </div>
                            <div class="col s6">
                                <h:link class="btn waves-effect  lime darken-1" outcome="Edit" value="#{parametros.ViewVehiculosEditLink}"/>
                            </div>
                            <div class="col s6">
                                <h:commandLink class="btn waves-effect green darken-1" action="#{vehiculosController.prepareCreate}" value="#{parametros.ViewVehiculosCreateLink}" />

                            </div>
                            <div class="col s6">
                                <h:link class="btn waves-effect" outcome="/index" value="#{parametros.ViewVehiculosIndexLink}"/>

                            </div>
                        </div>

                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>

</html>
