<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.EditCupoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{parametros.EditCupoLabel_idCupo}" for="idCupo" />
                    <h:inputText id="idCupo" value="#{cupoController.selected.idCupo}" title="#{parametros.EditCupoTitle_idCupo}" required="true" requiredMessage="#{parametros.EditCupoRequiredMessage_idCupo}"/>
                    <h:outputLabel value="#{parametros.EditCupoLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{cupoController.selected.tipo}" title="#{parametros.EditCupoTitle_tipo}" />
                    <h:outputLabel value="#{parametros.EditCupoLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{cupoController.selected.estado}" title="#{parametros.EditCupoTitle_estado}" />
                    <h:outputLabel value="#{parametros.EditCupoLabel_tarifa}" for="tarifa" />
                    <h:inputText id="tarifa" value="#{cupoController.selected.tarifa}" title="#{parametros.EditCupoTitle_tarifa}" />
                </h:panelGrid>
                <h:commandLink action="#{cupoController.update}" value="#{parametros.EditCupoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametros.EditCupoViewLink}"/>
                <br />
                <h:commandLink action="#{cupoController.prepareList}" value="#{parametros.EditCupoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.EditCupoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
