<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ListCupoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametros.ListCupoEmpty}" rendered="#{cupoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cupoController.items.rowCount > 0}">
                    <h:outputText value="#{cupoController.pagination.pageFirstItem + 1}..#{cupoController.pagination.pageLastItem + 1}/#{cupoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cupoController.previous}" value="#{parametros.Previous} #{cupoController.pagination.pageSize}" rendered="#{cupoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cupoController.next}" value="#{parametros.Next} #{cupoController.pagination.pageSize}" rendered="#{cupoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cupoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListCupoTitle_idCupo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCupo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListCupoTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListCupoTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListCupoTitle_tarifa}"/>
                            </f:facet>
                            <h:outputText value="#{item.tarifa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cupoController.prepareView}" value="#{parametros.ListCupoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cupoController.prepareEdit}" value="#{parametros.ListCupoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cupoController.destroy}" value="#{parametros.ListCupoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cupoController.prepareCreate}" value="#{parametros.ListCupoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.ListCupoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
