<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ViewCupoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{parametros.ViewCupoLabel_idCupo}"/>
                    <h:outputText value="#{cupoController.selected.idCupo}" title="#{parametros.ViewCupoTitle_idCupo}"/>
                    <h:outputText value="#{parametros.ViewCupoLabel_tipo}"/>
                    <h:outputText value="#{cupoController.selected.tipo}" title="#{parametros.ViewCupoTitle_tipo}"/>
                    <h:outputText value="#{parametros.ViewCupoLabel_estado}"/>
                    <h:outputText value="#{cupoController.selected.estado}" title="#{parametros.ViewCupoTitle_estado}"/>
                    <h:outputText value="#{parametros.ViewCupoLabel_tarifa}"/>
                    <h:outputText value="#{cupoController.selected.tarifa}" title="#{parametros.ViewCupoTitle_tarifa}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cupoController.destroyAndView}" value="#{parametros.ViewCupoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametros.ViewCupoEditLink}"/>
                <br />
                <h:commandLink action="#{cupoController.prepareCreate}" value="#{parametros.ViewCupoCreateLink}" />
                <br />
                <h:commandLink action="#{cupoController.prepareList}" value="#{parametros.ViewCupoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.ViewCupoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
