<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.CreateParquedoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <script>
                $(document).ready(function () {
                    $('select').material_select();
                });
            </script>
            <div class="row">

                <h:form class="col s12">
                    <div class="row" >
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_id}" for="id" />
                            <br/>
                            <h:inputText id="id" value="#{parquedoController.selected.id}" title="#{parametros.CreateParquedoTitle_id}" required="true" requiredMessage="#{parametros.CreateParquedoRequiredMessage_id}"/>
                        </div>
                        <div class="input-field col s4">
                           
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_entrada}" for="entrada" />
                            <br/>
                            <h:inputText class="datepicker" atr:type="datetime-local" id="entrada" value="#{parquedoController.selected.entrada}" title="#{parametros.CreateParquedoTitle_entrada}" >
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:inputText>
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_salida}" for="salida" />
                            <br/>
                            <h:inputText class="datepicker" atr:type="datetime-local" id="salida" value="#{parquedoController.selected.salida}" title="#{parametros.CreateParquedoTitle_salida}" >
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:inputText>
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_minutos}" for="minutos" />
                            <br/>
                            <h:inputText id="minutos" value="#{parquedoController.selected.minutos}" title="#{parametros.CreateParquedoTitle_minutos}" />
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_valor}" for="valor" />
                            <br/>
                            <h:inputText id="valor" value="#{parquedoController.selected.valor}" title="#{parametros.CreateParquedoTitle_valor}" />
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_idVehiculo}" for="idVehiculo" />
                            <br/>
                            <h:selectOneMenu id="idVehiculo" value="#{parquedoController.selected.idVehiculo}" title="#{parametros.CreateParquedoTitle_idVehiculo}" >
                                <f:selectItems value="#{vehiculosController.itemsAvailableSelectOne}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="input-field col s4">
                            <h:outputLabel value="#{parametros.CreateParquedoLabel_idCupo}" for="idCupo" />
                            <br/>
                            <h:selectOneMenu id="idCupo" value="#{parquedoController.selected.idCupo}" title="#{parametros.CreateParquedoTitle_idCupo}" >
                                <f:selectItems value="#{cupoController.itemsAvailableSelectOne}"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class=" col s12">
                        <div class="col s4">
                            <h:commandLink class="btn waves-effect waves-light" action="#{parquedoController.create}" value="#{parametros.CreateParquedoSaveLink}" />
                        </div>
                        <div class="col s4">
                            <h:commandLink class="btn waves-effect green darken-1" action="#{parquedoController.prepareList}" value="#{parametros.CreateParquedoShowAllLink}" immediate="true"/>
                        </div>
                        <div class="col s4">
                            <h:link class="btn waves-effect  lime darken-1" outcome="/index" value="#{parametros.CreateParquedoIndexLink}"/>
                        </div>
                    </div>
                </h:form>
            </div>



        </ui:define>
    </ui:composition>

</html>
