<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.EditParquedoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{parametros.EditParquedoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{parquedoController.selected.id}" title="#{parametros.EditParquedoTitle_id}" required="true" requiredMessage="#{parametros.EditParquedoRequiredMessage_id}"/>
                    <h:outputLabel value="#{parametros.EditParquedoLabel_entrada}" for="entrada" />
                    <h:inputText id="entrada" value="#{parquedoController.selected.entrada}" title="#{parametros.EditParquedoTitle_entrada}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametros.EditParquedoLabel_salida}" for="salida" />
                    <h:inputText id="salida" value="#{parquedoController.selected.salida}" title="#{parametros.EditParquedoTitle_salida}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametros.EditParquedoLabel_minutos}" for="minutos" />
                    <h:inputText id="minutos" value="#{parquedoController.selected.minutos}" title="#{parametros.EditParquedoTitle_minutos}" />
                    <h:outputLabel value="#{parametros.EditParquedoLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{parquedoController.selected.valor}" title="#{parametros.EditParquedoTitle_valor}" />
                    <h:outputLabel value="#{parametros.EditParquedoLabel_idVehiculo}" for="idVehiculo" />
                    <h:selectOneMenu id="idVehiculo" value="#{parquedoController.selected.idVehiculo}" title="#{parametros.EditParquedoTitle_idVehiculo}" >
                        <f:selectItems value="#{vehiculosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametros.EditParquedoLabel_idCupo}" for="idCupo" />
                    <h:selectOneMenu id="idCupo" value="#{parquedoController.selected.idCupo}" title="#{parametros.EditParquedoTitle_idCupo}" >
                        <f:selectItems value="#{cupoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{parquedoController.update}" value="#{parametros.EditParquedoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametros.EditParquedoViewLink}"/>
                <br />
                <h:commandLink action="#{parquedoController.prepareList}" value="#{parametros.EditParquedoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.EditParquedoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
