<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ListParquedoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametros.ListParquedoEmpty}" rendered="#{parquedoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{parquedoController.items.rowCount > 0}">
                    <h:outputText value="#{parquedoController.pagination.pageFirstItem + 1}..#{parquedoController.pagination.pageLastItem + 1}/#{parquedoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{parquedoController.previous}" value="#{parametros.Previous} #{parquedoController.pagination.pageSize}" rendered="#{parquedoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{parquedoController.next}" value="#{parametros.Next} #{parquedoController.pagination.pageSize}" rendered="#{parquedoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{parquedoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_entrada}"/>
                            </f:facet>
                            <h:outputText value="#{item.entrada}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_salida}"/>
                            </f:facet>
                            <h:outputText value="#{item.salida}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_minutos}"/>
                            </f:facet>
                            <h:outputText value="#{item.minutos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_valor}"/>
                            </f:facet>
                            <h:outputText value="#{item.valor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_idVehiculo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idVehiculo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametros.ListParquedoTitle_idCupo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCupo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{parquedoController.prepareView}" value="#{parametros.ListParquedoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parquedoController.prepareEdit}" value="#{parametros.ListParquedoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parquedoController.destroy}" value="#{parametros.ListParquedoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{parquedoController.prepareCreate}" value="#{parametros.ListParquedoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.ListParquedoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
