<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametros.ViewParquedoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{parametros.ViewParquedoLabel_id}"/>
                    <h:outputText value="#{parquedoController.selected.id}" title="#{parametros.ViewParquedoTitle_id}"/>
                    <h:outputText value="#{parametros.ViewParquedoLabel_entrada}"/>
                    <h:outputText value="#{parquedoController.selected.entrada}" title="#{parametros.ViewParquedoTitle_entrada}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametros.ViewParquedoLabel_salida}"/>
                    <h:outputText value="#{parquedoController.selected.salida}" title="#{parametros.ViewParquedoTitle_salida}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametros.ViewParquedoLabel_minutos}"/>
                    <h:outputText value="#{parquedoController.selected.minutos}" title="#{parametros.ViewParquedoTitle_minutos}"/>
                    <h:outputText value="#{parametros.ViewParquedoLabel_valor}"/>
                    <h:outputText value="#{parquedoController.selected.valor}" title="#{parametros.ViewParquedoTitle_valor}"/>
                    <h:outputText value="#{parametros.ViewParquedoLabel_idVehiculo}"/>
                    <h:outputText value="#{parquedoController.selected.idVehiculo}" title="#{parametros.ViewParquedoTitle_idVehiculo}"/>
                    <h:outputText value="#{parametros.ViewParquedoLabel_idCupo}"/>
                    <h:outputText value="#{parquedoController.selected.idCupo}" title="#{parametros.ViewParquedoTitle_idCupo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{parquedoController.destroyAndView}" value="#{parametros.ViewParquedoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametros.ViewParquedoEditLink}"/>
                <br />
                <h:commandLink action="#{parquedoController.prepareCreate}" value="#{parametros.ViewParquedoCreateLink}" />
                <br />
                <h:commandLink action="#{parquedoController.prepareList}" value="#{parametros.ViewParquedoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametros.ViewParquedoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
