<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:form>
                  <script type="text/javascript">
                          google.charts.load('current', {'packages': ['corechart']});
                    google.charts.setOnLoadCallback(vehiculos);
                    google.charts.setOnLoadCallback(motos);
                    function vehiculos() {

                                // Create the data table.
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Estado');
                                data.addColumn('number', 'Numero');
                                data.addRows([
                                      ['Libre', #{cupoController.contarEstadoCupo("L", "V")}],
                                      ['Cupados', #{cupoController.contarEstadoCupo("O", "V")}]
                                 ]);

                                // Set chart options
                                var options = {'title': 'Cupo Carro',
                                                   'width': 400,
                                                   'height': 300};

                                // Instantiate and draw our chart, passing in some options.
                                var chart = new google.visualization.PieChart(document.getElementById('vehiculos'));
                                chart.draw(data, options);
                          }
                    function motos() {

                                // Create the data table.
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Estado');
                                data.addColumn('number', 'Numero');
                                data.addRows([
                                      ['Libre', #{cupoController.contarEstadoCupo("L", "M")}],
                                      ['Cupados', #{cupoController.contarEstadoCupo("O", "M")}]
                                 ]);

                                // Set chart options
                                var options = {'title': 'Cupo Motos',
                                                   'width': 400,
                                                   'height': 300};

                                // Instantiate and draw our chart, passing in some options.
                                var chart = new google.visualization.PieChart(document.getElementById('motos'));
                                chart.draw(data, options);
                          }
 
                </script>
                <div class="col s12">
                    <div  class="col s6" id="vehiculos"></div>
                    <div class="col s6" id="motos"></div>
                </div>
                <div class="col s12">
                    <div class="col s3">
                        <h:link  class="btn waves-effect waves-light" outcome="/vehiculos/Create" value="Crear Vehiculo"/> 
                    </div>
                    <div class="col s3">
                        <h:link  class="btn waves-effect green darken-1" outcome="/parquedo/Create" value="Asignar Cupo"/> 
                    </div>
                    <div class="col s3">
                        <h:link  class="btn waves-effect  lime darken-1" outcome="/parquedo/Edit" value="Facturar"/> 
                    </div>

                    <div class="col s3">
                        <h:link  class="btn waves-effect red darken-3" outcome="/parquedo/Edit" value="Cerrar"/> 
                    </div>

                </div>

            </h:form>
        </ui:define>
    </ui:composition>


</html>

