<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:include src="/WEB-INF/includes/template/head.xhtml"/>
    <ui:include src="/WEB-INF/includes/template/Scripts.xhtml"/>
    <h:body>
        <ui:include src="/WEB-INF/includes/template/header.xhtml"/>
                
        <div class="row">
            <div class="col s12">
                <div class="col s3">
                    <ui:include src="/WEB-INF/includes/template/menu.xhtml"/>
                </div>
                <div class="col s9">
                    <h2><ui:insert name="title">Default Title</ui:insert>
                    </h2>
                    <ui:insert name="body">Default Body</ui:insert>
                </div>
            </div>
        </div>
    </h:body>
    <ui:include src="/WEB-INF/includes/template/footer.xhtml"/>

</html>
